system {
    time-zone America/Dallas;
    host-name {{ hostname }};
    domain-name consentfactory.com;
    auto-snapshot;
    authentication-order [ radius password ];
    ports {
        auxiliary port-type mini-usb;
    }
    root-authentication {
        encrypted-password "somethingsomethingsomethingsomething"; ## SECRET-DATA
    }
    root-authentication {
        encrypted-password "somethingsomethingsomethingsomething"; ## SECRET-DATA
    }
    name-server {
        192.168.100.200
    }
    services {
        netconf {
            ssh;
        }
        ssh {
            root-login deny;
        }
    }
    login {
        message "\n***\nThis is the property of Consentfactory.com. Kind of. Do not log-in without express permission!\n***\n ";
        class consentfactory-admins {
            idle-timeout 20;
            permissions all;
        }
        user consentfactoryadminofdoom {
            uid 2000;
            class consentfactory-admins;
            authentication {
                encrypted-password "somethingsomethingsomethingsomething"; ## SECRET-DATA
            }
        }
    }
    syslog {
        user * {
            any emergency;
        }
        host 192.168.100.150 {
            any error;
            change-log info;
            structured-data;
        }
    }
    
    ntp {
        server 192.168.100.200
    }
}
chassis {
    alarm {
        management-ethernet {
            link-down ignore;
        }
    }
}
interfaces {
    interface-range workstations201 {
        member ge-0/0/0;
        member ge-0/0/1;
        member ge-0/0/2;
        member ge-0/0/3;
        member ge-0/0/4;
        member ge-0/0/5;
        member ge-0/0/6;
        member ge-0/0/7;
        member ge-0/0/8;
        member ge-0/0/9;
        member ge-0/0/10;
        member ge-0/0/11;
        member ge-0/0/12;
        member ge-0/0/13;
        member ge-0/0/14;
        member ge-0/0/15;
        member ge-0/0/16;
        member ge-0/0/17;
        member ge-0/0/18;
        member ge-0/0/19;
        member ge-0/0/20;
        member ge-0/0/21;
        member ge-0/0/22;
        member ge-0/0/23;
        member ge-0/0/24;
        member ge-0/0/25;
        member ge-0/0/26;
        member ge-0/0/27;
        member ge-0/0/28;
        member ge-0/0/29;
        member ge-0/0/30;
        member ge-0/0/31;
        member ge-0/0/32;
        member ge-0/0/33;
        member ge-0/0/34;
        member ge-0/0/35;
        member ge-0/0/36;
        member ge-0/0/37;               
        member ge-0/0/38;
        member ge-0/0/39;
        member ge-0/0/40;
        member ge-0/0/41;
        member ge-0/0/42;
        member ge-0/0/43;
        member ge-0/0/44;
        member ge-0/0/45;
        member ge-0/0/46;
        member ge-0/0/47;
        unit 0 {
            family ethernet-switching {
                interface-mode access;
                vlan {
                    members 201;
                }
            }
        }
    }
    ge-0/0/0 {
        description workstations201;
    }
    ge-0/0/1 {
        description workstations201;
    }
    ge-0/0/2 {
        description workstations201;
    }
    ge-0/0/3 {
        description workstations201;
    }
    ge-0/0/4 {
        description workstations201;
    }
    ge-0/0/5 {
        description workstations201;
    }
    ge-0/0/6 {
        description workstations201;
    }
    ge-0/0/7 {
        description workstations201;
    }
    ge-0/0/8 {
        description workstations201;
    }
    ge-0/0/9 {
        description workstations201;
    }
    ge-0/0/10 {
        description workstations201;
    }
    ge-0/0/11 {
        description workstations201;
    }
    ge-0/0/12 {
        description workstations201;
    }
    ge-0/0/13 {
        description workstations201;
    }
    ge-0/0/14 {
        description workstations201;
    }
    ge-0/0/15 {
        description workstations201;
    }
    ge-0/0/16 {
        description workstations201;
    }
    ge-0/0/17 {
        description workstations201;
    }
    ge-0/0/18 {
        description workstations201;          
    }
    ge-0/0/19 {
        description workstations201;
    }
    ge-0/0/20 {
        description workstations201;
    }
    ge-0/0/21 {
        description workstations201;
    }
    ge-0/0/22 {
        description workstations201;
    }
    ge-0/0/23 {
        description workstations201;
    }
    ge-0/0/24 {
        description workstations201;
    }
    ge-0/0/25 {
        description workstations201;
    }
    ge-0/0/26 {
        description workstations201;
    }
    ge-0/0/27 {
        description workstations201;
    }
    ge-0/0/28 {
        description workstations201;
    }
    ge-0/0/29 {
        description workstations201;
    }
    ge-0/0/30 {
        description workstations201;
    }
    ge-0/0/31 {
        description workstations201;
    }
    ge-0/0/32 {
        description workstations201;
    }
    ge-0/0/33 {
        description workstations201;
    }
    ge-0/0/34 {
        description workstations201;
    }
    ge-0/0/35 {
        description workstations201;
    }
    ge-0/0/36 {
        description workstations201;
    }
    ge-0/0/37 {
        description workstations201;
    }
    ge-0/0/38 {
        description workstations201;
    }
    ge-0/0/39 {
        description workstations201;          
    }
    ge-0/0/40 {
        description workstations201;
    }
    ge-0/0/41 {
        description workstations201;
    }
    ge-0/0/42 {
        description workstations201;
    }
    ge-0/0/43 {
        description workstations201;
    }
    ge-0/0/44 {
        description workstations201;
    }
    ge-0/0/45 {
        description workstations201;
    }
    ge-0/0/46 {
        description workstations201;
    }
    ge-0/0/47 {
        description workstations201;
    }
    ge-0/2/0 {
        native-vlan-id 101;
        unit 0 {
            family ethernet-switching {
                interface-mode trunk;
                vlan {
                    members all;
                }
            }
        }
    }
    irb {
        unit 101 {
            family inet {
                address {{ mgmt_ip }}/24;
            }
        }
    }
}
snmp {
    location "{{ snmp_location }}";
    community public {
        authorization read-only;
    }
}
routing-options {
    static {
        route 0.0.0.0/0 next-hop {{ gateway }};
    }
}
protocols {
    lldp {
        management-address {{ mgmt_ip }};
        port-id-subtype interface-name;
        interface all;
    }
    lldp-med {
        interface all;
    }
    igmp-snooping {
        vlan all {
            query-interval 60;
            immediate-leave;
        }
    }
    rstp {
        interface all;
        interface workstations201 {
            edge;
        }
        bpdu-block-on-edge;
    }
}
switch-options {
    voip {
        interface workstations201 {
            vlan PHONES;
            forwarding-class expedited-forwarding;
        }
    }
}
{{ vc_config }}
vlans {
    MGMT {
        vlan-id 101;
        l3-interface irb.101;
    }
    WORKSTATIONS {
        vlan-id 201;
    }
    PHONES{
        vlan-id 301;
    }
}
poe {
    interface all;
}